<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.persistence.ItemMapper">
    <cache/>

    <select id="getItemListByProduct" parameterType="string" resultType="Item">
        SELECT
            I.ITEMID,
            LISTPRICE,
            UNITCOST,
            SUPPLIER AS supplierId,
            I.PRODUCTID AS "product.productId",
            NAME AS "product.name",
            DESCN AS "product.description",
            CATEGORY AS "product.categoryId",
            STATUS,
            ATTR1 AS attribute1,
            ATTR2 AS attribute2,
            ATTR3 AS attribute3,
            ATTR4 AS attribute4,
            ATTR5 AS attribute5
        FROM ITEM I, PRODUCT P
        WHERE P.PRODUCTID = I.PRODUCTID
        AND I.PRODUCTID = #{value}
    </select>


    <select id="getItemList" resultType="Item">
        SELECT
            I.ITEMID,
            LISTPRICE,
            UNITCOST,
            SUPPLIER AS supplierId,
            I.PRODUCTID AS "product.productId",
            NAME AS "product.name",
            DESCN AS "product.description",
            CATEGORY AS "product.categoryId",
            STATUS,
            ATTR1 AS attribute1,
            ATTR2 AS attribute2,
            ATTR3 AS attribute3,
            ATTR4 AS attribute4,
            ATTR5 AS attribute5
        FROM ITEM I, PRODUCT P
        WHERE P.PRODUCTID = I.PRODUCTID

    </select>

    <select id="getItem" parameterType="string" resultType="Item">
        SELECT
            I.ITEMID,
            LISTPRICE,
            UNITCOST,
            SUPPLIER AS supplierId,
            I.PRODUCTID AS "product.productId",
            NAME AS "product.name",
            DESCN AS "product.description",
            CATEGORY AS "product.categoryId",
            STATUS,
            ATTR1 AS attribute1,
            ATTR2 AS attribute2,
            ATTR3 AS attribute3,
            ATTR4 AS attribute4,
            ATTR5 AS attribute5,
            QTY AS quantity
        FROM ITEM I, INVENTORY V, PRODUCT P
        WHERE P.PRODUCTID = I.PRODUCTID
        AND I.ITEMID = V.ITEMID
        AND I.ITEMID = #{value}
    </select>

    <select id="getInventoryQuantity" parameterType="string" resultType="int">
        SELECT QTY AS value
        FROM INVENTORY
        WHERE ITEMID = #{itemId}
    </select>

    <select id="getProductByIdAndKeyword" parameterType="string" resultType="Item">
        SELECT
            I.ITEMID,
            LISTPRICE,
            UNITCOST,
            SUPPLIER AS supplierId,
            I.PRODUCTID AS "product.productId",
            NAME AS "product.name",
            DESCN AS "product.description",
            CATEGORY AS "product.categoryId",
            STATUS,
            ATTR1 AS attribute1,
            ATTR2 AS attribute2,
            ATTR3 AS attribute3,
            ATTR4 AS attribute4,
            ATTR5 AS attribute5
        FROM ITEM I, PRODUCT P
        WHERE product.name LIKE #{%keyword%} AND P.PRODUCTID = I.PRODUCTID
    </select>

    <select id="getProductByNameAndKeyword" parameterType="string" resultType="Item">
        SELECT
            I.ITEMID,
            LISTPRICE,
            UNITCOST,
            SUPPLIER AS supplierId,
            I.PRODUCTID AS "product.productId",
            NAME AS "product.name",
            DESCN AS "product.description",
            CATEGORY AS "product.categoryId",
            STATUS,
            ATTR1 AS attribute1,
            ATTR2 AS attribute2,
            ATTR3 AS attribute3,
            ATTR4 AS attribute4,
            ATTR5 AS attribute5
        FROM ITEM I, PRODUCT P
        WHERE NAME LIKE #{%keyword%} AND P.PRODUCTID = I.PRODUCTID
    </select>

    <select id="getProductByAttrAndKeyword" parameterType="string" resultType="Item">
        SELECT
            I.ITEMID,
            LISTPRICE,
            UNITCOST,
            SUPPLIER AS supplierId,
            I.PRODUCTID AS "product.productId",
            NAME AS "product.name",
            DESCN AS "product.description",
            CATEGORY AS "product.categoryId",
            STATUS,
            ATTR1 AS attribute1,
            ATTR2 AS attribute2,
            ATTR3 AS attribute3,
            ATTR4 AS attribute4,
            ATTR5 AS attribute5
        FROM ITEM I
        WHERE ATTR1 LIKE %#{keyword}% AND P.PRODUCTID = I.PRODUCTID
    </select>

<!--    <select id="getProductByIdAndKeyword" parameterType="string" resultType="Item">-->
<!--        SELECT  *-->
<!--        FROM ITEM I, PRODUCT P-->
<!--        WHERE P.PRODUCTID = I.PRODUCTID-->

<!--    </select>-->

    <update id="updateInventoryQuantity" parameterType="map">
        UPDATE INVENTORY SET
            QTY = QTY - #{increment}
        WHERE ITEMID = #{itemId}
    </update>

    <insert id="insertItem" parameterType="Item">
        INSERT INTO Item
        (itemid, productid,listprice,unitcost,supplier,status,attr1,attr2,attr3,attr4,attr5)
        VALUES(
            #{itemId},#{productId}, #{listPrice}, #{unitCost}, #{supplierId}, #{status}, #{attribute1}, #{attribute2}, #{attribute3}, #{attribute4}, #{attribute5})
    </insert>

    <insert id="insertInventory" parameterType="Item">
        INSERT INTO INVENTORY
        (itemid, qty)
        VALUES(
        #{itemId},#{quantity})
    </insert>

    <update id="updateItem" parameterType="Item">
        UPDATE Item SET
            listprice = #{listPrice},
            unitcost = #{unitCost},
            supplier = #{supplierId},
            status = #{status},
            attr1 = #{attribute1},
            attr2 = #{attribute2},
            attr3 = #{attribute3},
            attr4 = #{attribute4},
            attr5 = #{attribute5}
        WHERE ITEMID = #{itemId} AND PRODUCTID = #{productId}
    </update>

    <update id="updateInventory" parameterType="Item">
        UPDATE INVENTORY SET
            qty = #{quantity}
        WHERE ITEMID = #{itemId}
    </update>

    <delete id="deleteItem" parameterType="Item">
        DELETE FROM Item WHERE ITEMID = #{itemId}
    </delete>

    <delete id="deleteInventory" parameterType="Item">
        DELETE FROM INVENTORY WHERE ITEMID = #{itemId}
    </delete>

</mapper>