<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.persistence.OrderMapper">
    <select id="getOrderListByUsername" parameterType="String" resultType="Order">
    select
        billaddr1 as billaddress1,
        billaddr2 as billaddress2,
        billcity,
        billcountry,
        billstate,
        billtofirstname,
        billtolastname,
        billzip,
        shipaddr1 as shipAddress1,
        shipaddr2 as shipAddress2,
        shipcity,
        shipcountry,
        shipstate,
        shiptofirstname,
        shiptolastname,
        shipzip,
        cardtype,
        courier,
        creditcard,
        exprdate as expiryDate,
        locale,
        orderdate,
        orders.orderid,
        totalprice,
        userid as username,
        status
    from orders, orderstatus
    where orders.userid = #{value}
        and orders.orderid = orderstatus.orderid
        order by orderdate
    </select>

    <select id="getOrderListByShipAddress1" parameterType="string" resultType="Order">
        SELECT
            billaddr1 as billaddress1,
        billaddr2 as billaddress2,
        billcity,
        billcountry,
        billstate,
        billtofirstname,
        billtolastname,
        billzip,
        shipaddr1 as shipAddress1,
        shipaddr2 as shipAddress2,
        shipcity,
        shipcountry,
        shipstate,
        shiptofirstname,
        shiptolastname,
        shipzip,
        cardtype,
        courier,
        creditcard,
        exprdate as expiryDate,
        locale,
        orderdate,
        orders.orderid,
        totalprice,
        userid as username,
        status
        FROM orders, orderstatus
        WHERE lower(shipaddr1) like #{value} and orders.orderid = orderstatus.orderid
    </select>

    <select id="getOrderListByShipAddress2" parameterType="string" resultType="Order">
        SELECT
            billaddr1 as billaddress1,
        billaddr2 as billaddress2,
        billcity,
        billcountry,
        billstate,
        billtofirstname,
        billtolastname,
        billzip,
        shipaddr1 as shipAddress1,
        shipaddr2 as shipAddress2,
        shipcity,
        shipcountry,
        shipstate,
        shiptofirstname,
        shiptolastname,
        shipzip,
        cardtype,
        courier,
        creditcard,
        exprdate as expiryDate,
        locale,
        orderdate,
        orders.orderid,
        totalprice,
        userid as username,
        status
        FROM orders, orderstatus
        WHERE lower(shipaddr2) like #{value} and orders.orderid = orderstatus.orderid
    </select>

    <select id="getOrderListByBillAddress1" parameterType="string" resultType="Order">
        SELECT
            billaddr1 as billaddress1,
        billaddr2 as billaddress2,
        billcity,
        billcountry,
        billstate,
        billtofirstname,
        billtolastname,
        billzip,
        shipaddr1 as shipAddress1,
        shipaddr2 as shipAddress2,
        shipcity,
        shipcountry,
        shipstate,
        shiptofirstname,
        shiptolastname,
        shipzip,
        cardtype,
        courier,
        creditcard,
        exprdate as expiryDate,
        locale,
        orderdate,
        orders.orderid,
        totalprice,
        userid as username,
        status
        FROM orders, orderstatus
        WHERE lower(billaddr1) like #{value} and orders.orderid = orderstatus.orderid
    </select>

    <select id="getOrderListByBillAddress2" parameterType="string" resultType="Order">
        SELECT
            billaddr1 as billaddress1,
        billaddr2 as billaddress2,
        billcity,
        billcountry,
        billstate,
        billtofirstname,
        billtolastname,
        billzip,
        shipaddr1 as shipAddress1,
        shipaddr2 as shipAddress2,
        shipcity,
        shipcountry,
        shipstate,
        shiptofirstname,
        shiptolastname,
        shipzip,
        cardtype,
        courier,
        creditcard,
        exprdate as expiryDate,
        locale,
        orderdate,
        orders.orderid,
        totalprice,
        userid as username,
        status
        FROM orders, orderstatus
        WHERE lower(billaddr2) like #{value} and orders.orderid = orderstatus.orderid
    </select>

    <select id="getOrderListByShipToFirstName" parameterType="string" resultType="Order">
        SELECT
            billaddr1 as billaddress1,
        billaddr2 as billaddress2,
        billcity,
        billcountry,
        billstate,
        billtofirstname,
        billtolastname,
        billzip,
        shipaddr1 as shipAddress1,
        shipaddr2 as shipAddress2,
        shipcity,
        shipcountry,
        shipstate,
        shiptofirstname,
        shiptolastname,
        shipzip,
        cardtype,
        courier,
        creditcard,
        exprdate as expiryDate,
        locale,
        orderdate,
        orders.orderid,
        totalprice,
        userid as username,
        status
        FROM orders, orderstatus
        WHERE lower(shiptofirstname) like #{value} and orders.orderid = orderstatus.orderid
    </select>
    <select id="getOrderListByBillToFirstName" parameterType="string" resultType="Order">
        SELECT
            billaddr1 as billaddress1,
        billaddr2 as billaddress2,
        billcity,
        billcountry,
        billstate,
        billtofirstname,
        billtolastname,
        billzip,
        shipaddr1 as shipAddress1,
        shipaddr2 as shipAddress2,
        shipcity,
        shipcountry,
        shipstate,
        shiptofirstname,
        shiptolastname,
        shipzip,
        cardtype,
        courier,
        creditcard,
        exprdate as expiryDate,
        locale,
        orderdate,
        orders.orderid,
        totalprice,
        userid as username,
        status
        FROM orders, orderstatus
        WHERE lower(billtofirstname) like #{value} and orders.orderid = orderstatus.orderid
    </select>
    <select id="getOrderListByStatus" parameterType="string" resultType="Order">
        SELECT
            billaddr1 as billaddress1,
        billaddr2 as billaddress2,
        billcity,
        billcountry,
        billstate,
        billtofirstname,
        billtolastname,
        billzip,
        shipaddr1 as shipAddress1,
        shipaddr2 as shipAddress2,
        shipcity,
        shipcountry,
        shipstate,
        shiptofirstname,
        shiptolastname,
        shipzip,
        cardtype,
        courier,
        creditcard,
        exprdate as expiryDate,
        locale,
        orderdate,
        orders.orderid,
        totalprice,
        userid as username,
        status
        FROM orders, orderstatus
        WHERE lower(status) like #{value} and orders.orderid = orderstatus.orderid
    </select>

    <select id="getOrderList" resultType="Order">
    select
        billaddr1 as billaddress1,
        billaddr2 as billaddress2,
        billcity,
        billcountry,
        billstate,
        billtofirstname,
        billtolastname,
        billzip,
        shipaddr1 as shipAddress1,
        shipaddr2 as shipAddress2,
        shipcity,
        shipcountry,
        shipstate,
        shiptofirstname,
        shiptolastname,
        shipzip,
        cardtype,
        courier,
        creditcard,
        exprdate as expiryDate,
        locale,
        orderdate,
        orders.orderid,
        totalprice,
        userid as username,
        status

    from orders, orderstatus
    where orders.orderid = orderstatus.orderid
        order by orderdate
    </select>

    <select id="getLineItemList" parameterType="int" resultType="LineItem">
    select
        orderid as orderId,
        linenum as lineNumber,
        itemid as itemId,
        quantity,
        unitprice as unitPrice
    from lineitem
    where lineitem.orderid = #{orderId}
    </select>

    <select id="insertOrder" parameterType="Order">
    insert into orders (orderid, userid, orderdate, shipaddr1, shipaddr2, shipcity, shipstate,
        shipzip, shipcountry, billaddr1, billaddr2, billcity, billstate, billzip, billcountry,
        courier, totalprice, billtofirstname, billtolastname, shiptofirstname, shiptolastname,
        creditcard, exprdate, cardtype, locale)
    values(#{orderId}, #{username}, #{orderDate}, #{shipAddress1}, #{shipAddress2,jdbcType=VARCHAR}, #{shipCity},
        #{shipState}, #{shipZip}, #{shipCountry}, #{billAddress1}, #{billAddress2,jdbcType=VARCHAR}, #{billCity},
        #{billState}, #{billZip}, #{billCountry}, #{courier}, #{totalPrice}, #{billToFirstName}, #{billToLastName},
        #{shipToFirstName}, #{shipToLastName}, #{creditCard}, #{expiryDate}, #{cardType}, #{locale})
    </select>

    <select id="getOrder" parameterType="int" resultType="Order">
    select
        billaddr1 as billAddress1,
        billaddr2 as billAddress2,
        billcity,
        billcountry,
        billstate,
        billtofirstname,
        billtolastname,
        billzip,
        shipaddr1 as shipAddress1,
        shipaddr2 as shipAddress2,
        shipcity,
        shipcountry,
        shipstate,
        shiptofirstname,
        shiptolastname,
        shipzip,
        cardtype,
        courier,
        creditcard,
        exprdate as expiryDate,
        locale,
        orderdate,
        orders.orderid,
        totalprice,
        userid as username,
        status
    from orders, orderstatus
    where orders.orderid = #{value}
        and orders.orderid = orderstatus.orderid
    </select>

    <select id="insertOrderStatus" parameterType="Order">
        insert into orderstatus (orderid, linenum, timestamp, status)
    values (#{orderId,jdbcType=NUMERIC}, #{orderId,jdbcType=NUMERIC}, #{orderDate,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
    </select>

    <select id="insertLineItem" parameterType="LineItem">
        insert into lineitem (orderid, linenum, itemid, quantity, unitprice)
    values (#{orderId}, #{lineNumber}, #{itemId}, #{quantity},#{unitPrice})
    </select>


    <update id="updateOrder" parameterType="Order">
        UPDATE orders SET
            userid = #{username},
            orderdate = #{orderDate},
            shipaddr1 = #{shipAddress1},
            shipaddr2 = #{shipAddress2},
            shipcity = #{shipCity},
            shipstate = #{shipState},
            shipzip = #{shipZip},
            shipcountry = #{shipCountry},
            billaddr1 = #{billAddress1},
            billaddr2 = #{billAddress2},
            billcity = #{billCity},
            billstate = #{billState},
            billzip = #{billZip},
            billcountry = #{billCountry},
            courier = #{courier},
            totalprice = #{totalPrice},
            billtofirstname = #{billToFirstName},
            billtolastname = #{billToLastName},
            shiptofirstname = #{shipToFirstName},
            shiptolastname = #{shipToLastName},
            creditcard = #{creditCard},
            exprdate = #{expiryDate},
            cardtype = #{cardType},
            locale = #{locale}

        WHERE orderid = #{orderId}
    </update>


    <update id="updateOrderStatus" parameterType="Order">
        UPDATE orderstatus SET
            linenum = #{linenum},
            timestamp = #{orderDate},
            status = #{status}


        WHERE orderid = #{orderId}
    </update>

    <delete id="deleteLineItem" >
        DELETE FROM lineitem WHERE ORDERID = #{orderId} AND LINENUM = #{linenum}
    </delete>

    <delete id="deleteLineItemList" parameterType="int">
        DELETE FROM lineitem WHERE ORDERID = #{value}
    </delete>
    <delete id="deleteOrder" parameterType="int">
        DELETE FROM orders WHERE ORDERID = #{value}
    </delete>
    <delete id="deleteOrderStatus" parameterType="int">
        DELETE FROM orderstatus WHERE ORDERID = #{value}
    </delete>

    <select id="getLineItem"  resultType="LineItem">
    select
        orderid as orderId,
        linenum as lineNumber,
        itemid as itemId,
        quantity,
        unitprice as unitPrice
    from lineitem
    where lineitem.orderid = #{orderId} and lineitem.linenum = #{lineNumber}
    </select>

    <update id="updateLineItem" parameterType="LineItem">
        UPDATE lineitem SET
            itemid = #{itemId},
            quantity = #{quantity},
            unitprice = #{unitPrice}


        WHERE lineitem.orderid = #{orderId} and lineitem.linenum = #{lineNumber}
    </update>

</mapper>